body{
    font: 16px sans-serif;
}

h2 {
    background-color:mediumseagreen;
    color:white;
}

h1 {
    background-color:mediumseagreen;
    color:white;
}

.wrapper{
    width: 600px;
    padding: 20px;
}

.form-group label{
    background-color: white;
    color:green;
    float:left;
}

.form-group input{
    float:left;
    width: auto;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-group .clear{
    clear:both;
}

.help-block {
    color: red;
}